body{
  border-style: none;
  margin : 0px;

}

.loginPage {
  /* .introduce 와 .loginUI의 margin조작대신 .loginPage의 padding을 설정했기 때문에 calc를 통해 보정 */
  width: calc(1920px - 139px - 112px);
  height: calc(1080px - 142px - 141.5px);
  background-image: linear-gradient(119deg, #b2fefa, #3a97d5);

  padding : 142px 139px 141.5px 112px ;
}

.loginPage .introduce{
  float: left;
  width: calc(955px - 128px);
  height: calc(797px - 331px);
  /* opacity: 0.55; */
  /* background-color: #ffffff; */

  /* opacity는 자식 객체까지 투명화되기때문에 rgb로 변경 */
  background-color: rgb(255,255,255,0.55); 

  padding : 331px 0px 0px 128px;
  
}

/* 좌측 영역의 제목 */
.loginPage .introduce div[name=title]{
  width: 564px;
  /* width: 552px; */
  height: 69px;
  font-family: SegoeUI;
  font-size: 51px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;

  margin-bottom: 14.6px;
}
/* 좌측 영.역의 부제목 */
.loginPage .introduce div[name=sub-title]{
  width : 510px;
  /* width: 498px; */
  height: 51px;
  font-family: SegoeUI;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}
.loginPage .loginUI {
  float: right;
  width: 689px;
  height: 796.5px;
  background-color: #ffffff;


}

/*.loginPage .loginUI .title{
  border : 1px solid black;
}

.loginPage .input{
  width:160px;
  margin: 15px auto;
}

.loginPage .buttons{
  margin-left: 250px;
} */

h1{
  font-size: 16px;
  margin: 0 264px;
  color: #1b3764
}

.login-img{
  margin: 111px 269px 0px;
  width: 151px;
}

.input{
  margin: 34px 85px;
  font-family: SegoeUI;
  font-size: 20px;
  color: #9b9b9b;
}

input{
  width: 518px;
  height: 50px;
}

.name{
  margin-bottom: 7px;
}

.password{
  margin: 13px 0 6px 0;
}

.buttons-in{
  margin: 60px 303px;
  height: 73px;
  width: 73px;
}

.button2{
  margin: 53px;
}